[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:moon13/algashop-ordering.git
[submodule "docs"]
	path = docs
	url = git@github.com:moon13/algashop-docs.git
[submodule "microservices/algashop-billing"]
	path = microservices/algashop-billing
	url = git@github.com:moon13/algashop-billing.git
